# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Environment variables
.env

# Data files (Confidential)
*.csv
*.xlsx
*.xls
*.json
*.txt

# Streamlit
.streamlit/

# OS specific
.DS_Store
.vscode/
!requirements.txt
